body {
    background-color: rgb(56, 55, 55);
}

#main {
	width: 80%;
	margin: auto;
	border: 2px white solid;
	background-color: rgb(32, 29, 29);
}

.title{
    text-align: center;
	color: white;
	font-family: 'Oswald', sans-serif;
}

#navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(32, 29, 29);
}

.navb{
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 12px 14px;
	text-decoration: none;
}

li a:hover {
	background-color: rgb(56, 55, 55);
}

#insta{
	float: right;
}

#content{
	width: 100%;
	margin: auto;
	background-color: white;
	font-family: 'Poppins', sans-serif;
}

.title1{
	color: rgb(32, 29, 29);
	font-size: 35px;
	font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 8px;
}

#sexyface{
    float:right;
    width: 250px;
    height: 330px;
}

#startimages img{
	width: 330px;
	height: 330px;
	display: inline-block;
	margin: 5.5%;
}

.video {
	display: block;
	width: 35%;
	margin: 0 auto;
}

ul.list {
	list-style: none;
}

li.green {
	background: url('bullet.png') left center no-repeat;
	padding-left: 28px;
}

li#insta {
	background: url('instagram.png') left center no-repeat;
	padding-left: 28px;
}

.centerimg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 330px;
	height: 330px;
}

#magnus{
	  width: 330px;
	  height: 495px;
	  float: left;
}

#hikaruimg2 img{
	width: 450px;
	height: 450px;
	float: right;
}

#melaugh{
	height: 380px;
	width: 450px;
	float: left;
}

.tg  {
	border-collapse:collapse;
	border-spacing:0;
	margin-left: auto;
	margin-right: auto;
}

.tg td {
	border-color:black;
	border-style:solid;
	border-width:1px;
	font-family:'Poppins', sans-serif;
	font-size:14px;
	overflow:hidden;
	padding:10px 5px;
	word-break:normal;
}

.tg th {
	border-color:black;
	border-style:solid;
	border-width:1px;
	font-family:'Poppins', sans-serif;
	font-size:14px;
	font-weight:normal;
	overflow:hidden;
	padding:10px 5px;
	word-break:normal;
}

.tg .playerrow {
	border-color:inherit;
	text-align:left;
	vertical-align:top;
}

.tg .tablerow {
	text-align:left;
	vertical-align:top;
}

#jsquiz {
	text-align: center;
}

#rotator {
	width: 60%;
	margin: auto;
}

#rotator img {
	border-radius: 0%;
}

#rotatorfd {
	width: 60%;
	margin: auto;
}

.rightimg {
	float: right;
	width: 330px;
	height: 330px;
}
 <!-- New CSS -->
 table.darkTable {
  font-family: "Arial Black", Gadget, sans-serif;
  border: 2px solid #000000;
  background-color: #4A4A4A;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.darkTable td, table.darkTable th {
  border: 1px solid #4A4A4A;
  padding: 3px 2px;
}
table.darkTable tbody td {
  font-size: 13px;
  color: #E6E6E6;
}
table.darkTable tr:nth-child(even) {
  background: #888888;
}
table.darkTable td:nth-child(even) {
  background: #282C2F;
}
table.darkTable thead {
  background: #000000;
  border-bottom: 3px solid #000000;
}
table.darkTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #E6E6E6;
  text-align: center;
  border-left: 2px solid #4A4A4A;
}
table.darkTable thead th:first-child {
  border-left: none;
}

table.darkTable tfoot {
  font-size: 12px;
  font-weight: bold;
  color: #E6E6E6;
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
  border-top: 1px solid #4A4A4A;
}
table.darkTable tfoot td {
  font-size: 12px;
}
