body {
	background-color:#FFFFFF;
	margin:0px;
	padding:0px;
	background-image: url("../images/bond_men.jpg");
	height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
p {
  font-family: Arial, Helvetica, sans-serif;
}


#main {
	width:70% !important;
	min-height:auto !important;
	margin:auto !important;
	background-color:white !important;
	border: 3px red !important;
	margin-bottom:10px !important;
}




}
ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color: green;
	border:3px solid cream;


}
ul{
	float:left;
}

ul a {
	display: block;
	color:green;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
    color:green ;
	 ont-family: Arial, Helvetica, sans-serif;
}

ul a:hover {
	background-color:green;


.content {
	min-height:400px;
}

.content2 {
	margin:10px;
	border-radius:8px;
	border:3px solid blue;
	background-color: grey;
}
.content2 p{
	display:inline-block;
	vertical-align:top;
	width:65%;
	color:white;
	font-size:large;

}


	  .text_border{
		  float:left;
		  margin:10px;
		  padding:40px;
		  border-radius:8px;
		  border:3px solid red;
		  background-color:black;

	  }
	  .text_border p{
		  color:white;
		  font-size:large;
	  }
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
