<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dived Wrecks</title>
    {% load static %}
    <link href="{% static 'css/test.css' %}" rel="stylesheet">
    <!-- GOOGLE FONT HREF BELOW vv -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>
<div id="main">
    <div class="title">
        <header>
            <h1> WWW.IRISHWRECKSONLINE.NET </h1>
        </header>
    </div>
    <hr>
    <nav>
        <ul id="navbar">
            <li class="navb"><a href="index.html">Homepage</a></li>
            <li class="navb"><a href="qg.html">Latest Updates</a></li>
        </ul>
    </nav>
<!-- Main content start -->
    <div id="content">
        <section>
            <h1 class="title1"> KNOWN DIVED WRECKS </h1>
        </section>
    </div>
<!-- Table Code -->
    <table class="darkTable">
        <thead>
        <tr>
        <th>Co. Antrim</th>
        <th>Co. Cork</th>
        <th>Co. Donegal</th>
        <th>Co. Dublin</th>
        <th>Co. Down</th>
        <th>Co. Kerry &amp; Wexford</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
        <td>End of Co. Antrim</td>
        <td>End of Co. Cork</td>
        <td>End of Co. Donegal</td>
        <td>End of Co. Dublin</td>
        <td>End of Co. Down</td>
        <td>End of Co. Kerry &amp; Wexford</td>
        </tr>
        </tfoot>
        <tbody>
        <tr>
        <td>Ailsa S.S</td>
        <td>Asian S.S</td>
        <td>Assurance S.S</td>
        <td>Bolivar M.V</td>
        <td>Alastor M.Y</td>
        <td>Antony S.S</td>
        </tr>
        <tr>
        <td>Black Diamond S.S</td>
        <td>Bohemian S.S</td>
        <td>Castle Eden S.S</td>
        <td>Deliverer H.M.D</td>
        <td>Amber S.S</td>
        <td>Crompton M.F.V</td>
        </tr>
        <tr>
        <td>Brisk H.M.S</td>
        <td>Crescent City S.S</td>
        <td>Evelyn Marie M.F.V</td>
        <td>Glenorchy S.V</td>
        <td>Beechgrove S.S</td>
        <td>Idaho S.S</td>
        </tr>
        <tr>
        <td>Diamond S.S</td>
        <td>Lady Charlotte S.V</td>
        <td>Florence S.V</td>
        <td>Leinster R.M.S</td>
        <td>Castle Island S.S</td>
        <td>PB4Y653B (Aircraft)</td>
        </tr>
        <tr>
        <td>Ferric S.S</td>
        <td>L'Impatiente S.V</td>
        <td>Gaelic S.V</td>
        <td>Queen Victoria P.S</td>
        <td>Crusader S.Y</td>
        <td>Quebra U.S.S</td>
        </tr>
        <tr>
        <td>George S.V</td>
        <td>Norwegian S.S</td>
        <td>Justicia R.M.S</td>
        <td>Shamrock II S.S</td>
        <td>Daybreak S.S</td>
        <td>Granat M.F.V</td>
        </tr>
        <tr>
        <td>Her Majesty P.S</td>
        <td>Oswestry S.S</td>
        <td>Kalliopi S.S</td>
        <td>Tayleur S.V</td>
        <td>Empire Tana S.S</td>
        <td>Lennox S.S</td>
        </tr>
        <tr>
        <td>Housatonic S.S</td>
        <td>Ribble S.F.V</td>
        <td>Laurentic II S.S</td>
        <td>Vanguard H.M.S</td>
        <td>Frieda S.V</td>
        <td>Lismore S.S</td>
        </tr>
        <tr>
        <td>Knights Gareth S.S</td>
        <td>Stephen Whitney S.V</td>
        <td>Ogano M.F.V</td>
        <td>Guide Me II H.M.D</td>
        <td>Helgoland S.V</td>
        <td>Manchester Market S.S</td>
        </tr>
        <tr>
        <td>Maria S.V</td>
        <td>U-260</td>
        <td>Stipey S.V</td>
        <td>Polewell S.S</td>
        <td>Hunsdon S.S</td>
        <td>Royal Arthur S.V</td>
        </tr>
        <tr>
        <td>Rose II H.M.T</td>
        <td>UC-42</td>
        <td>U-89</td>
        <td>Strathtay S.S</td>
        <td>Kilbroney S.S</td>
        <td>Invercauld S.V</td>
        </tr>
        <tr>
        <td>Woods S.V</td>
        <td>Zorro Zaurre</td>
        <td>Wasp H.M.S</td>
        <td>Marlay S.S</td>
        <td>Zarina S.V</td>
        <td>The Three Brothers M.F.V</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
