<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dived Wrecks</title>
    {% load static %}
    <link href="{% static 'css/test.css' %}" rel="stylesheet">
</head>
<body>
<div id="main">
                <div class="title">
                    <header>
						<h1> List of Dived Wrecks by Name </h1>
                    </header>
                </div>
					<hr>
                        <nav>
                            <ul id="navbar">
                                <li class="navb"><a href="index.html">Homepage</a></li>
                                <li class="navb"><a href="qg.html">Latest Updates</a></li>
                                <li id="insta"><a href="https://www.instagram.com/gab.plaza/">Follow me on Instagram</a></li>
                            </ul>
                        </nav>
</div>

</body>
</html>
